<!DOCTYPE html>
<html lang="en" class="scroll-smooth">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Voltify - Producto</title>
  <link href="../css/output.css" rel="stylesheet" />
  <script src="https://kit.fontawesome.com/46652c82d3.js" crossorigin="anonymous"></script>
</head>

<body class="bg-background text-texto font-montserrat">

  <!--Navegación -->
  <header class="bg-texto text-background">
    <nav class="flex justify-between items-center p-2">
      <div class="nav-desplegable">
        <i class="icono fa-solid fa-bars fa-xl"></i>
      </div>

      <a href="../index.html">
        <div
          class="logo w-16 h-16 bg-[url('../assets/images/logo.png')] bg-contain bg-no-repeat bg-center md:w-72 md:h-20 md:bg-[url('../assets/images/logoDesk.png')]">
        </div>
      </a>

      <div class="hidden md:flex items-center justify-center flex-1 max-w-[500px]">
        <div class="border border-[#333] rounded py-2 px-2 border-r-0">
          <i class="icono fa-solid fa-magnifying-glass hover:text-callToAction hover:brightness-100"></i>
        </div>
        <input type="text" placeholder="Search" class="inputs placeholder:text-textoSecundario text-background/80 " />
      </div>

      <div class="order-3 mr-4">
        <button class="fa-solid fa-cart-shopping fa-2xl icono" aria-label="Carrito"></button>
      </div>

      <div class="menu-overlay">
        <div class="menu-close">
          <button class="icono fa-solid fa-xmark fa-xl"></button>
        </div>
        <div class="menu-links">
          <ul class="menu">
            <li><a href="../index.html" class="links">Inicio</a></li>
            <li><a href="./views/products" class="links">Productos</a></li>
            <li><a href="./views/contact" class="links">Contacto</a></li>
          </ul>
        </div>
        <div>
          <a href="../backend/login.php"><button class="buttons w-full py-1.5 px-5">Login</button></a>
        </div>
      </div>
    </nav>
  </header>

  <!-- Producto -->
  <main class="bg-background">
    <div class="contenedor-producto flex flex-col lg:flex-row lg:border-b lg:border-textoSecundario lg:justify-center lg:items-center">

      <!-- Imagen del producto -->
      <div class="flex flex-col items-center mb-5 gap-2">
        <div class="flex flex-col items-center justify-center gap-2 mt-5">
          <h2 class="text-2xl font-bold lg:hidden">Portatil Lenovo</h2>
          <div class="rating mr-4 gap-1 text-sm flex lg:hidden">
            <p>4,2/5</p>
            <button class="fa-solid fa-star" style="color: #ffd43b" id="ratingGlobal"></button>
            <a href="#reviews" class="links underline">Opiniones</a>
          </div>
        </div>

        <img src="../assets/images/products/product1.png" alt="Portátil Lenovo" />

        <div class="flex gap-2 rounded-xl">
          <img src="../assets/images/products/product1.png" class="images-products-select " />
          <img src="../assets/images/products/product1.png" class="images-products-select" />
          <img src="../assets/images/products/product1.png" class="images-products-select" />
          <img src="../assets/images/products/product1.png" class="images-products-select" />
          <img src="../assets/images/products/product1.png" class="images-products-select" />
        </div>
      </div>

      <!-- Información del producto -->
      <div class=" bg-[#eeeeee] flex flex-col gap-5 lg:justify-center lg:shadow-xl lg:rounded-2xl lg:h-140 lg:p-4">
        <div class="flex items-center gap-2 justify-start lg:order-1">
          <h2 class="text-2xl font-bold hidden lg:block">Portatil Lenovo</h2>
          <div class="rating mr-4 lg:flex gap-1 text-sm hidden">
            <p>4,2/5</p>
            <button class="fa-solid fa-star" style="color: #ffd43b" id="ratingGlobal"></button>
            <a href="#reviews" class="links underline">Opiniones</a>
          </div>
        </div>

        <!-- Selección de modelo -->
        <div class="flex flex-col items-center gap-2 lg:order-3 lg:items-start">
          <h2>Selección de Modelo</h2>
          <div class="flex flex-row gap-2 text-sm">

            <div class="border-2 border-textoSecundario rounded p-2 text-center flex flex-col hover:border-accent cursor-pointer">
              <h4>Windows 11</h4>
              <small class="text-accent">110€</small>
            </div>

            <div class="border-2 border-textoSecundario rounded p-4 text-center flex flex-col hover:border-accent cursor-pointer">
              <h4>Sin Sistema operativo</h4>
            </div>
          </div>
        </div>

        <!-- Descripción -->
        <div class="flex flex-col text-sm text-center gap-2 lg:order-4">
          <label class="text-xl">Descripción del producto</label>
          <p class="mx-2">
            Equipo versátil y ligero, ideal para tareas diarias, estudio y oficina. Buen rendimiento, pantalla clara y
            diseño compacto a un precio accesible.
          </p>
        </div>

        <!-- Precio -->
        <div class="flex justify-between lg:justify-start items-center lg:order-2">
          <div class="hidden lg:flex precio ml-4 lg:m-0">
            <span class="text-accent font-bold text-3xl ml-2">100.99€</span>
          </div>
        </div>


        <!-- Botón añadir al carrito -->
        <div
          class="bg-[#eeeeee] fixed w-full bottom-0 z-50 p-2 rounded-tl-2xl rounded-tr-2xl drop-shadow-[0_-4px_6px_rgba(0,0,0,0.25)] lg:drop-shadow-none lg:flex lg:justify-center lg:items-center lg:gap-2 lg:static lg:bg-transparent lg:order-5">
          <div class="flex justify-between">
            <span class="text-accent font-bold text-3xl ml-2 lg:hidden">100.99€</span>
            <button class="buttons w-[220px] md:w-[350px] rounded">Añadir
              al carrito</button>
          </div>
        </div>

      </div>
    </div>

    <!-- Reviews -->
    <section class="reviews flex flex-col gap-4 p-4" id="reviews">
      <label class="font-bold text-xl text-center">Opiniones de Usuarios</label>

      <div class="review-card">
        <div class="flex items-center gap-2">
          <img src="../assets/images/persona/persona.jpg" alt="Usuario"
            class="w-10 h-10 rounded-full border-2 border-accent" />
          <div class="flex items-center gap-1">
            <button class="fa-solid fa-star text-sm" style="color: #ffd43b"></button>
            <button class="fa-solid fa-star text-sm" style="color: #ffd43b"></button>
            <button class="fa-solid fa-star text-sm" style="color: #ffd43b"></button>
            <button class="fa-regular fa-star text-sm"></button>
            <button class="fa-regular fa-star text-sm"></button>
          </div>
        </div>
        <p class="text-texto text-sm ml-10">Este producto es excelente, muy recomendable.</p>
      </div>

      <div class="review-card ">
        <div class="flex items-center gap-2">
          <img src="../assets/images/persona/persona.jpg" alt="Usuario"
            class="w-10 h-10 rounded-full border-2 border-accent" />
          <div class="flex items-center gap-1">
            <button class="fa-solid fa-star text-sm" style="color: #ffd43b"></button>
            <button class="fa-regular fa-star text-sm"></button>
            <button class="fa-regular fa-star text-sm"></button>
            <button class="fa-regular fa-star text-sm"></button>
            <button class="fa-regular fa-star text-sm"></button>
          </div>
        </div>
          <p class="text-texto text-sm ml-10">Este producto es horrible, muy recomendable para no querer más, pero la foto está guapa.</p>
      </div>
    </section>
  </main>

  <!-- Footer -->
  <footer class="bg-texto text-background py-7 px-5">
    <div class="flex flex-col items-center text-center gap-2">
      <div class="flex items-center">
        <img src="../assets/images/logo.png" alt="logo" class="mb-2 w-[60px]" />
        <p class="m-0 opacity-[0.8]">&copy; 2025 Voltify. Todos los derechos reservados</p>
      </div>
      <div class="flex gap-2">
        <a href="#" class="opacity-[0.8] links">Aviso legal</a>
        <a href="#" class="opacity-[0.8] links">Política de privacidad</a>
        <a href="#" class="opacity-[0.8] links">Términos y condiciones</a>
      </div>
      <div class="flex justify-center gap-3 mt-2">
        <a href="#" class="fa-brands fa-x-twitter icono"></a>
        <a href="#" class="fa-brands fa-instagram icono"></a>
        <a href="#" class="fa-brands fa-facebook-f icono"></a>
      </div>
    </div>
  </footer>
  <script src="../js/commons.js"></script>
  <script src="../js/productDetail.js"></script>
</body>
</html>