<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../css/sass/cart.css">
  <script src="https://kit.fontawesome.com/46652c82d3.js" crossorigin="anonymous"></script>
</head>
<body>
  <header>
    <!--Navegador -->
    <nav>
      <div class="nav-desplegable">
        <i class="fa-solid fa-bars fa-xl"></i>
      </div>
      <div class="logo"></div>
      <div class="search-bar">
        <div class="icon-container">
          <i class="fa-solid fa-magnifying-glass"></i>
        </div>
        <input type="text" placeholder="Search..." />
      </div>

      <div class="shop_cart">
        <a href="./views/shoppingCart.html">
          <i class="fa-solid fa-cart-shopping fa-2xl"></i>
        </a>

      </div>
      <div class="menu-overlay">
        <div class="menu-close">
          <i class="fa-solid fa-xmark fa-xl"></i>
        </div>
        <div class="menu-links">
          <ul class="menu">
            <li><a href="../index.html">Inicio</a></li>
            <li><a href="products.html">Productos</a></li>
            <li><a href="contact.html">Contacto</a></li>
          </ul>
        </div>
        <div class="menu-buttons">
          <a href="../backend/login.php" class="btn-login">Login</a>
        </div>
      </div>
    </nav>
  </header>
  <main>

    <div class="carrito-container">
      <div class="lista-container">
        <h2>Cesta de la compra</h2>
        <ul>
          <li class="producto-elegido-container">
            <div class="producto-elegido">
              <img src="../assets/images/products/product1.png" class="item_cart_image">

              <div class="nombre-precio-container">
                <p class="nombre-producto">Lenovo</p>
                <p class="precio-stock-producto">549.99€ x 2</p>
              </div>
            </div>

            <div class="sumar-restar-eliminar">
            <i class="fa-solid fa-plus"></i>
            <i class="fa-solid fa-minus"></i>
            <i class="fa-solid fa-trash"></i>
            </div>

          </li>
        </ul>
      </div>
  
      <div class="total-container">
        <h2>Resumen</h2>
        <li class="producto-resumen-list">
          <div>
            <p class="producto-resumen">Lenovo x 2</p>
          </div>
        </li>
        <p class="total-resumen">Total: <span class="total-precio">1099,98€</span></p>
        <div class="btn-pedido-container">
          <button class="buttons">Realizar Pedido</button>
        </div>
      </div>
    </div>
  </main>

  <!--Footer -->
  <footer>
    <div class="footer-container">
      <div class="footer-info">
        <img src="../assets/images/logo.png" alt="logo" class="footer-logo" />
        <p>&copy; 2025 Voltify. Todos los derechos reservados</p>
      </div>
      <div class="footer-links">
        <a href="#">Aviso legal</a>
        <a href="#">Política de privacidad</a>
        <a href="#">Términos y condiciones</a>
      </div>

      <div class="footer-socials">
        <a href="#" class="fa-brands fa-x-twitter"></a>
        <a href="#" class="fa-brands fa-instagram"></a>
        <a href="#" class="fa-brands fa-facebook-f"></a>
      </div>
    </div>
  </footer>
</body>
<script src="../js/commons.js"></script>
</html>