<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../css/sass/cart.scss">
  <link rel="stylesheet" href="../css/sass/main.scss">

  <script src="https://kit.fontawesome.com/46652c82d3.js" crossorigin="anonymous"></script>
</head>

<body>
  <header>
    <nav>
      <div class="nav-desplegable"> <i class="fa-solid fa-bars fa-xl"></i></div>
      <a href="../index.html">
        <div class="logo"></div>
      </a>

      <div class="search-bar">
        <div class="icon-container">
          <i class="fa-solid fa-magnifying-glass"></i>
        </div>
        <input type="text" placeholder="Search..." />
      </div>

      <div class="shop_cart">
        <i class="fa-solid fa-cart-shopping fa-2xl"></i>
      </div>

      <div class="menu-overlay">
        <div class="menu-close">
          <i class="fa-solid fa-xmark fa-xl"></i>
        </div>
        <div class="menu-links">
          <ul class="menu">
            <li><a href="../index.html">Inicio</a></li>
            <li><a href="../views/products.html">Productos</a></li>
            <li><a href="../views/contact.html">Contacto</a></li>
          </ul>
        </div>
        <div class="menu-buttons">
          <a href="../backend/login.php">Login</a>
        </div>
    </nav>
  </header>

  <main>

  </main>

  <footer>
    <!-- DIV PARA ACOMODAR EL FOOTER -->
    <div class="footer-container">
      <div class="footer-info">
        <img src="../assets/images/logo.png" alt="logo" class="footer-logo">
        <p>&copy; 2025 Voltify. Todos los derechos reservados</p>
      </div>
      <div class="footer-links">
        <a href="#">Aviso legal</a>
        <a href="#">Política de privacidad</a>
        <a href="#">Términos y condiciones</a>
      </div>
      <div class="footer-socials">
        <a href="#" class="fa-brands fa-x-twitter"></a>
        <a href="#" class="fa-brands fa-instagram"></a>
        <a href="#" class="fa-brands fa-facebook"></a>
      </div>
    </div>
  </footer>
  <script src="../js/commons.js"></script>
</body>

</html>