@import 'commons';

// Mixin para botones
@mixin boton-estilo($bg-color, $text-color, $padding: 0.7rem 1rem, $radius: 0.375rem) {
  background-color: $bg-color;
  color: $text-color;
  padding: $padding;
  border-radius: $radius;
  font-weight: 600;
  cursor: pointer;
  transition: filter 0.2s ease-in;
  border: none;
  font-family: 'Montserrat';
  &:hover {
    filter: brightness(0.7);
  }
}

// Usar el mixin
.buttons {
  @include boton-estilo($accent, $background);
}
