
// COLORES DEL ROOT
$texto: #0d0d0d;
$background: #f5f5f5;
$textoSecundario: #737373;
$callToAction: #00c4cc;
$accent: #ff4d00;
$accent-alpha: #ff4d0099;


// FUENTE
@font-face {
    font-family: 'Montserrat';
    src: url('../../assets/fonts/montserrat-regular.ttf');
}
