@use "commons" as *;
@use "variables" as *;
@use "mixins" as *;

main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center; 
  background-color: $background;
  color: $texto;
  
  .carrito-container {
    width: 100%;
    max-width: 72rem;
    display: flex;
    flex-direction: column;
    gap: 8px;

    @media (min-width: 1025px) {
      flex-direction: row;
      height: calc(100vh - 200px);
    }

    .lista-container {
      background-color: #eeeeee;
      flex: 1;
      border-radius: 0.75rem;
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
      padding: 16px;

      h2 {
        font-size: 1.5rem;
        font-weight: bold;
        margin-bottom: 24px;
      }

      .ordenar-lista-productos {
        display: flex;
        flex-direction: column;
        gap: 10px;

        .producto-elegido-container {
          @include tarjeta-producto(
            $border-radius: 0.75rem,
            $padding: 4px, 
            $border: 1px solid $textoSecundario, 
            $icon-color: $accent,
            $image-width: 100px,
            $size-precio: 14px
            );
        }
      }
    }
  }
}

.total-container {
  width: 100%;
  background-color: #eeeeee;
  border-radius: 0.75rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  height: fit-content;
  padding: 16px;
  margin-top: 16px;

  @media (min-width: 1025px) {
    width: 320px;
    margin-top: 0;
    margin-left: 16px;
  }

  span {
    color: $accent;
  }

  h2 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 16px;
    text-align: left;
  }

  .producto-resumen-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 8px;

    .producto-resumen {
      font-weight: bold;
    }
  }

  .total-resumen {
    display: flex;
    font-weight: bold;
    justify-content: space-between;
    margin-top: 8px;

    .total-precio {
      color: $accent;
    }
  }

  .btn-pedido-container {
    display: flex;
    margin-top: 16px;
    justify-content: center;

    .buttons {
      @include boton-estilo(
        $accent, 
        $background, 
        $padding: 10px, 
        $radius: 0.5rem
        );
      width: 100%;
    }
  }
}