/* Títulos */
.section-title {
  color: var(--texto);
  font-size: 1.3rem;
  margin-bottom: 10px;
  font-weight: bold;
  text-align: center;
}

/* Contenedores de productos en general*/
.productosDestacadosCarrusel,
.productosDestacados,
.productosNormales {
  padding: 15px;
}

.productosDestacadosCarrusel{
    margin-top: 100px;
   margin-bottom: 50px;
}
.productosDestacados {
  display: flex;
  gap: 15px;
  overflow-x: auto; /*Esto hace que se muestre una barra para moverse si el contenido es más ancho que el contenedor mismo */
  scroll-snap-type: x mandatory; /*Esto hace que pase de elemento en elemento como en un carrusel normal  */
  scroll-behavior: smooth; /* Como indica su nombre da suavidad al scroll horizontal */
}

.productosNormales {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 50px;
}

.product-card {
  flex: 0 0 auto;
  width: 220px;
  border-radius: 12px;
  scroll-snap-align: start;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.6);
}

.product-image{
  background-color: #eeeeee;
  border-r: 12px;
}
.product-image img {
  width: 100%;
  height: 220px;
  object-fit: cover;
}

.product-label {
  top: 8px;
  left: 8px;
  background-color: var(--accent);
  color: var(--background);
  padding: 4px 8px;
  border-radius: 6px;
  font-size: 0.75rem;
}

.product-info {
  padding: 12px;
}

.product-title {
  font-size: 1rem;
  margin: 0 0 6px 0;
  color: var(--texto);
}

.product-description {
  font-size: 0.85rem;
  color: var(--texto_secundario);
  margin-bottom: 10px;
  line-height: 1.3;
}

.product-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-price {
  font-weight: bold;
  font-size: 0.95rem;
  color: var(--accent);
}

/*El h2 y el icono del filtro en productos normales */
.productos-header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.filter-btn {
  background-color: transparent;
  border: none;
  color: var(--accent);
  cursor: pointer;
}
.filter-btn:hover {
  filter: brightness(80%);
}

/* HERO */

.hero {
  background: url("../assets/images/hero-banner\ -mobile.png") center/cover no-repeat;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-align: center;
  position: relative;
}

.btn-hero {
  padding: 15px 25px;
  background-color: var(--accent);
  color: var(--background);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  position: absolute;
  left: 90px;
  bottom: 20px;
  font-size: 1.7rem;
  /* scroll-behavior: smooth;  PARA SMOOTH SCROLL*/
}

.btn-hero:hover {
  filter: brightness(70%);
}

.hero-title {
  position: absolute;
  font-size: 2.5rem;
  font-weight: bold;
  left: 40px;
  top: 50px;
  text-align: left;
}

.hero-subtitle {
  text-align: left;
  position: absolute;
  max-width: 600px;
  left: 40px;
  bottom: 120px;
  font-size: 1.2rem;
}

/* Tablet  */
@media (min-width: 600px) and (max-width: 1024px) {
  .productosDestacados {
    display: flex;
    gap: 25px;
    padding-bottom: 15px;
    justify-content: flex-start;
  }

  .productosDestacados .product-card {
    flex: 0 0 45%;
  }

  .product-info {
    padding: 15px;
  }

  .product-title {
    font-size: 1.1rem;
  }

  .product-description {
    font-size: 0.9rem;
  }

  .section-title {
    font-size: 1.5rem;
    margin-bottom: 15px;
  }
    .btn-hero {
  padding: 20px 80px;
  background-color: var(--accent);
  color: var(--background);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  position: absolute;
  left: 150px;
  bottom: 50px;
  font-size: 1.7rem;
}

.btn-hero:hover {
  filter: brightness(70%);
}

.hero-title {
  position: absolute;
  font-size: 3rem;
  font-weight: bold;
  max-width: 700px;
  left: 50px;
  top: 50px;
  text-align: left;
}

.hero-subtitle {
  text-align: left;
  position: absolute;
  max-width: 600px;
  left: 50px;
  bottom: 150px;
  font-size: 1.7rem;
}
}

/* Desktop */
@media (min-width: 1025px) {
  .productosDestacados {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    overflow: visible;
  }

  .productosNormales {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
  }

  .product-card {
    width: 22%;
    max-width: 300px;
  }

  .product-image img {
    height: 250px;
  }

  .section-title {
    font-size: 1.6rem;
    margin-bottom: 20px;
  }

  .product-card:hover {
    transform: scale(1.01);
    transition: all;
    transition-duration: 0.1s;
  }

  .product-card img:hover {
    cursor: pointer;
  }
  /*Orden de h2 de productos normales y el boton de filtro  */
  .productos-header i {
    order: 1;
  }
  .productos-header h2 {
    order: 2;
  }

  .hero{
    background-image: url("../assets/images/hero-banner.png");
  }

  .btn-hero {
  padding: 20px 80px;
  background-color: var(--accent);
  color: var(--background);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  position: absolute;
  left: 150px;
  bottom: 200px;
  font-size: 1.7rem;
}

.btn-hero:hover {
  filter: brightness(70%);
}

.hero-title {
  position: absolute;
  font-size: 5rem;
  font-weight: bold;
  max-width: 700px;
  left: 50px;
  top: 100px;
  text-align: left;
}

.hero-subtitle {
  text-align: left;
  position: absolute;
  max-width: 600px;
  left: 50px;
  top: 320px;
  font-size: 2rem;
}
}
